body{
    font-family: 'Poppins', sans-serif;
    
}
h1{
    font-size: 50px;
}
#me{
    color: orange;
}
section{
    display: flex;
}
.bio{
    width: 50%;
    padding-left: 5%;
    text-align: justify;
    
}
.bio img{
    width: 75%;
}
.button{
    text-decoration: none;
    color: Black;
    background-image: linear-gradient(orange , tomato);
    padding: 10px 40px;
    border-radius: 6px;
    font-weight: 900px;
    
}
#link{
    text-decoration: none;
    color: blue;
}
.first-page{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.second-page{
    margin-top: 200px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.client{
    margin: 200px;
    border-left: blueviolet solid 10px;
}
.client2{
    margin: 200px;
    border-left: tomato solid 10px;
}
