body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
#me{
    color: orange;
}
section{
    display: flex;
}
.bio{
    width: 50%;
    padding-left: 5%;
    text-align: justify;
}
.bio img{
    width: 75%;
}
.button{
    text-decoration: none;
    color: Black;
    background-color:rgb(28, 83, 250);
    padding: 10px 40px;
    border-radius: 6px;
    font-weight: 900px;
    
}
#link{
    color: blue;
}
